<div class="container">
    <h1 class="mt-3">รายการของขวัญ</h1>
    <hr>

    <div class="d-flex flex-row mt-3">
        <div class="col-1 form-group">
            <label class="form-label">ลำดับที่</label>
            <input type="number" class="form-control" [(ngModel)]="present.order">
        </div>

        <div class="col-auto form-group ms-1">
            <label class="form-label">ของรางวัล</label>
            <input class="form-control" [(ngModel)]="present.name">
        </div>

        <div class="col-1 form-group ms-1">
            <label class="form-label">จำนวน</label>
            <input type="number" class="form-control" [(ngModel)]="present.qty">
        </div>
    </div>

    <div class="mt-3">
        <div class="d-flex flex-row">
            <div class="col-6">
                <button class="btn btn-dark" (click)="newPresent()">เพิ่มของรางวัล</button>
                <button class="btn btn-primary ms-1" (click)="savePresent()">บันทึก</button>
            </div>

            <div class="col-6 text-end">
                <button class="btn btn-danger ms-1" (click)="removePresent()">ลบของรางวัล</button>
            </div>

        </div>
    </div>

    <div class="mt-3">
        <table id="present-table" class="table table-responsive" [width]="'100%'">
            <thead>
                <tr>
                    @for(head of dataTable.headerRow; track head) {
                        <th>{{head}}</th>
                    }
                </tr>
            </thead>

            <tbody>
                @for(data of dataTable.dataRows; track data) {
                    <tr>{{data}}</tr>
                }
            </tbody>
        </table>
    </div>
</div>