<div class="container">
    <h1 class="mt-3">รายชื่อพนักงาน</h1>
    <hr>

    <div class="d-flex flex-wrap mt-3">
        <div class="col-1 form-group">
            <label class="form-label">รหัสพนักงาน</label>
            <input class="form-control" [(ngModel)]="emply.code">
        </div>

        <div class="col-auto form-group ms-1">
            <label class="form-label">ชื่อ-นามสกุล</label>
            <input class="form-control" [(ngModel)]="emply.fullName">
        </div>

        <div class="col-2 form-group ms-1">
            <label class="form-label">เวลาลงทะเบียน</label>
            <input class="form-control" [(ngModel)]="emply.checkTime">
        </div>

        <div class="form-check-group ms-3 mt-5">
            <label></label>
            <input type="checkbox" class="form-check-input" [(ngModel)]="emply.isCheck" (change)="checkCheckin()"> ลงทะเบียนแล้ว
        </div>
    </div>

    <div class="d-flex flex-row mt-1">
        <div class="form-group">
            <label class="form-label">ของขวัญที่ได้</label>
            <input class="form-control" [(ngModel)]="emply.present">
        </div>

        <div class="form-check-group ms-3 mt-5">
            <label></label>
            <input type="checkbox" class="form-check-input" [(ngModel)]="emply.isDraw"> จับของขวัญแล้ว
        </div>

        <div class="form-check-group ms-3 mt-5">
            <label></label>
            <input type="checkbox" class="form-check-input" [(ngModel)]="emply.isCancel"> สละสิทธิ์
        </div>
    </div>

    <div class="mt-4">
        <div class="d-flex flex-row">
            <div class="col-6">
                <button class="btn btn-dark" (click)="newEmply()">เพิ่มพนักงาน</button>
                <button class="btn btn-primary ms-1" (click)="saveEmployee()">บันทึก</button>
            </div>

            <div class="col-6 text-end">
                <button class="btn btn-warning ms-1" (click)="clearCheckin()">Clear Check-in</button>
                <button class="btn btn-warning ms-1" (click)="clearLuckyDraw()">Clear Lucky Draw</button>
                <button class="btn btn-danger ms-1" (click)="removeEmployee()">ลบพนักงาน</button>
            </div>

        </div>
    </div>

    <div class="table-responsive mt-3">
        <table id="employee-table" class="table table-responsive" [width]="'100%'">
            <thead>
                <tr>
                    @for(head of dataTable.headerRow; track head) {
                        <th>{{head}}</th>
                    }
                </tr>
            </thead>

            <tbody>
                @for( data of dataTable.dataRows; track data) {
                    <tr>{{data}}</tr>
                }
            </tbody>
        </table>
    </div>
</div>



