.text-qrcode, .text-qrcode:focus {
    border: none; 
    outline: none;
    background: none;
    color: black;
    mix-blend-mode: screen;
}

#bttn-search {
    position: fixed;
    top: 85%;
    width: 25vw;
    left: 37.5vw;
}