#bttn-ok {
    width: 25vw;
    margin-left: 15vw;
}

#bttn-cancel {
    width: 25vw;
    margin-right: 15vw;
}

.lb {
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 16;
}

.field {
    width: 100%;
    padding: 0.25em;
    border: solid thin gray;
    border-radius: 1em;
    background-color: white;
}