<div class="container-fluid" style="height: 100vh; border: solid thin red; background-image: url('../../assets/imgs/checkin-search.jpg'); background-size: 100vw 100vh; ">

  <div style="margin-top: 37vh; text-align: center;">
    <form #frm="ngForm" (ngSubmit)="submit(frm)">
        <input type="text" name="txtsearch" style="font-size: 18pt; width: 80vw; text-align: center; border-radius: 1em;" ngModel #txtsearch>
    </form>
  </div>

  <div style="margin-top: 1em; text-align: center;">
      <img src="../../assets/imgs/bttn-cancel.png" id="bttn-cancel" (click)="cancel()" style="margin-right: 15vw;">
      <img src="../../assets/imgs/bttn-ok.png" id="bttn-ok" (click)="ok()" style="margin-left: 15vw;">
  </div>

  <div style="margin-top: 1em; width: 100%; height: 10em;">

      <div style="width: 90%; height: 14em; margin-left: auto; margin-right: auto; border: solid think gray; overflow-y: auto;">
          <table style="width: 100%;">
              <thead>
                  <tr>
                      <th style="width: 5em; text-align: center;">รหัส</th>
                      <th style="padding-left: 0.5em;">ชื่อนามสกุล</th>
                  </tr>
              </thead>

              <tbody>
                  @for(empl of employees; track empl.id) {
                      <tr (click)="choice(empl.id)" >
                          <td style="text-align: center;" [ngClass]="{ 'lh': empl.id == currid }">{{empl.code}}</td>
                          <td style="padding-left: 0.5em;" [ngClass]="{ 'lh': empl.id == currid }">{{empl.fullName}}</td>
                      </tr>
                  }
              </tbody>
          </table>
      </div>
  </div>
</div>

<div class="modal fade" id="msg-err" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">คำเตือน</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>รายชื่อนี้ได้ลงทะเบียนเป็นที่เรียบร้อยแล้ว</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
