table, th, td {
    border: solid thin gray;
    background-color: bisque;
    padding: 0.5em;
}

#bttn-cancel {
    width: 25vw;
}

#bttn-ok {
    width: 25vw;
}

.lh {
    background-color: gray;
    color: white;
}